# Factory-only filesystem and USB settings.
CONFIG_TINYUSB_MSC_ENABLED=y
CONFIG_FATFS_VOLUME_COUNT=4
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_CODEPAGE_936=y
CONFIG_FATFS_CODEPAGE=936
CONFIG_FATFS_API_ENCODING_UTF_8=y
# CONFIG_FATFS_PER_FILE_CACHE is not set
CONFIG_VFS_MAX_COUNT=16

# Factory camera settings.
CONFIG_CAMERA_OV2710=y
CONFIG_CAMERA_OV2710_MIPI_RAW10_1280X720_25FPS=y
CONFIG_CAMERA_OV2710_MIPI_RAW10_1920X1080_25FPS=y
CONFIG_CAMERA_OV2710_MIPI_DEFAULT_FMT_RAW10_1280X720_25FPS=y
# CONFIG_CAMERA_OV2710_MIPI_DEFAULT_FMT_RAW10_1920X1080_25FPS is not set
CONFIG_CAMERA_OV2710_MIPI_IF_FORMAT_INDEX_DEFAULT=1

# Factory LVGL settings.
CONFIG_LV_COLOR_DEPTH_24=y
CONFIG_LV_DEF_REFR_PERIOD=20
CONFIG_LV_DRAW_BUF_ALIGN=64
# Use the system heap so dynamic pages can spill into PSRAM instead of being
# constrained by LVGL's default 64 KB fixed pool.
# CONFIG_LV_USE_BUILTIN_MALLOC is not set
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_36=y
CONFIG_LV_FONT_MONTSERRAT_40=y
CONFIG_LV_FONT_SOURCE_HAN_SANS_SC_16_CJK=y
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_20=y
CONFIG_LV_USE_SYSMON=y
# CONFIG_LV_USE_PERF_MONITOR is not set
CONFIG_LV_USE_LODEPNG=y
CONFIG_LV_USE_FLOAT=y
# CONFIG_LV_BUILD_EXAMPLES is not set
# CONFIG_LV_BUILD_DEMOS is not set
CONFIG_DISPLAY_PANEL_FRAME_BUFFER_COUNT=1

# Factory audio player settings.
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_FILE_EN=y
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_RESAMPLE_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_RESAMPLE_DEST_RATE=48000
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_CH_CVT_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_CH_CVT_DEST=2
CONFIG_ESP_AUDIO_SIMPLE_PLAYER_BIT_CVT_EN=y
CONFIG_AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_16BIT=y
CONFIG_AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_BITS=16
